.info-box {
    background-color: #f1f1f1;  /* Helles Grau */
    padding: 15px;              /* Innenabstand */
    border-radius: 10px;        /* Abgerundete Ecken */
    margin: 40px 20px;             /* Abstand oben und unten */
    text-align: center;         /* Text zentrieren */
    font-size: 16px;            /* Schriftgröße */
    color: #333;                /* Dunkle Schriftfarbe für besseren Kontrast */
  }
  