<ion-header>
  <ion-toolbar>
    <ion-title>Passwort eingeben</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Graues Kästchen mit abgerundeten Ecken für den Text -->
  <div class="info-box">
    Willkommen in der internen Berechnungsanwendung von BMT. Diese Anwendung ist nur für autorisierte Mitarbeiter von BMT zugänglich. Geben Sie bitte das Passwort ein, um fortzufahren.
  </div>

  <form (ngSubmit)="submitPassword()">
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!password">Login</ion-button>
  </form>
</ion-content>

