/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body {
    font-family: 'Arial', sans-serif; /* Schriftart */
    color: var(--ion-color-dark); /* Standard-Schriftfarbe */
    background-color: var(--ion-color-tertiary); /* Hintergrundfarbe */
  }
  
  ion-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  ion-label {
    color: var(--ion-color-primary); /* Standardfarbe für Labels */
  }
  
  ion-input {
    --background: var(--ion-color-light);
    --placeholder-color: var(--ion-color-dark);
  }
  
  ion-toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    --background: var(--ion-color-primary); /* Toolbar-Farbe */
    --color: var(--ion-color-light); /* Textfarbe */
    --padding-top: env(safe-area-inset-top, 0px); /* Für Geräte mit Notch */
    --padding-start: env(safe-area-inset-left, 0px);
    --padding-end: env(safe-area-inset-right, 0px);
    height: 56px; /* Standardhöhe */
    z-index: 10;
  }
  ion-item {
    display: flex;
    align-items: center; /* Zentriert das Icon mit dem Text */
  }
  
  ion-item ion-icon {
    font-size: 20px; /* Passt die Größe des Icons an */
    margin-right: 30px; /* Abstand zwischen Icon und Text */
    color: var(--ion-color-primary); /* Farbe der Icons (optional) */
    align-self: center; /* Sorgt für vertikale Zentrierung */
  }
  .reload-button ion-icon {
    color: white; /* Reload-Icon */
    font-size: 24px; 
  }
  
  ion-menu-button {
    color: white;
    font-size: 24px;
    display: block;
    z-index: 10; 
  }
  